.LineUp {
    --font: 10px;
}

.LineUp__titulo {
    text-align: center;
    font-size: calc(var(--font)*4.8);
    font-family: calistoga;
    margin: 40px 0;
}

.LineUp__imagem-bottom {
    width: 100vw;
    height: 340px;
    object-fit: cover;
    mix-blend-mode: multiply;
}

@media screen and (min-width: 720px){
    .LineUp__titulo {
        font-size: calc(var(--font)*6.4);
    }
}