.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--boreal-azul-ardosia);

    color: white;
    font-size: 18px;
    font-weight: 700;
}

.cabecalho__logo {
    height: 64px;
    justify-self: center;
}

.cabecalho__nav-icon {
    padding-left: 15px;
    z-index: 3;
    cursor: pointer;
    position: relative;
}

.cabecalho__nav-icon-ativo {
    position: fixed;
    top: 38px;
    right: 24px;
}

.cabecalho__nav-lista {
    display: flex;
    align-items: center;
    height: 28px;
}

.cabecalho__nav__item:hover {
    transform: scale(1.05)
}

.cabecalho a {
    color: var(--verao-azul-claro)
}

.cabecalho .link__ativo {
    color: white;
    padding-bottom: 2px;
    border-bottom: 2px solid white;
}

.cabecalho__nav-lista hr:last-child {
    display:none;
}


@media screen and (max-width: 719px) {
    .cabecalho__nav-lista {
        flex-direction: column;
        gap: 20px;
        
        width: 100%;
        height: 100%;
        
        position: fixed;
        top: 0px;
        left: 0px;
        
        padding: 140px 0 0 0; 

        background-color: var(--boreal-azul-ardosia);
        z-index: 2;
    }

    .inativo {
        display: none;
    }

    /* .cabecalho__nav-lista hr {
        width: 35%;
        border: none;
        height: 1px;
        background-color: white;
    } */
/* 
    .cabecalho__nav-lista hr:last-child {
        display: none;
    } */

    .cabecalho__nav__item {
        display: flex;
        height: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 720px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho__nav-icon {
        display: none;
    }

    .cabecalho__nav-lista {
        flex-direction: row;
        position: static;
        gap: 24px;
    }
}

@media screen and (min-width: 1020px) {
    .cabecalho {
        flex-direction: row;

        font-size: 20px;
        height: 90px;
    }
}