.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--boreal-azul-ardosia);

    color: white;
    font-size: 18px;
    font-weight: 700;
}

.cabecalho__logo {
    height: 64px;
    justify-self: center;
}

.cabecalho__nav {
    display: flex;
    align-items: center;
    height: 48px;
}

.cabecalho__nav-icon {
    padding-left: 15px;
}

.cabecalho__nav__item:hover {
    text-decoration: underline;
}


@media screen and (max-width: 719px) {
    .cabecalho__nav-lista {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 112px;
        right: 0px;
        padding: 16px;

        background-color: var(--boreal-azul-ardosia);
    }

    .cabecalho__nav__item {
        display: flex;
        height: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 720px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho__nav-icon {
        display: none;
    }

    .cabecalho__nav-lista {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 12px;
    }
}

@media screen and (min-width: 1020px) {
    .cabecalho {
        flex-direction: row;

        font-size: 20px;
        height: 90px;
    }
}