:root {
    --boreal-verde-agua-marinha: #36C1A0;
    --boreal-verde-herbal: #008364;
    --boreal-azul-camarada: #304968;
    --boreal-azul-ardosia: #4650BD; // menu, botões
    --boreal-azul-ardosia-claro: #606ADA; // botões hover
    --boreal-malva: #B6BCFF;

    --verao-azul-aço: #2E7BA2; // menu, botões
    --verao-azul-aço-claro: #519EC5; // botões hover
    --verao-azul-claro: #C8DEEF;
    --verao-mostarda: #DF9010;
    --verao-bege: #FACF9D;
    --verao-bege-claro: #FBF0DD;

    --cinza: #444444;
    --cinza-claro: #a0a0a0;
    // aurora boreal - https://images.pexels.com/photos/2113554/pexels-photo-2113554.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
    // carrossel - https://lh3.googleusercontent.com/p/AF1QipPRwi5WQwesilSEVkaD8XsKtpJ5-9YINbhNz5EA=s680-w680-h510
}

body {
    font-family: Raleway;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.dont-show {
    display: none;
}

.container {
    padding: 24px;
}

@media screen and (min-width: 720px) {
    .container {
        padding: 20px 60px;
    }
}

@media screen and (min-width: 1020px) {
    .container {
        padding: 24px 90px;
    }
}