.LineDay {
    --font: 10px;
    text-align: center;
}

.atracoes__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.atracoes__header hr {
    display: none;
}

.atracoes__data {
    font-size: calc(var(--font)*3.2);
    padding: 10px;
    width: fit-content;
    background-color: var(--boreal-verde-herbal)
}

.atracoes__body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.atracoes__destaque {
    font-size: calc(var(--font)*4);
    font-weight: 800;
}

.atracoesB, .atracoesC, .atracoesD {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}

.atracoesB {
    font-size: calc(var(--font)*3);
    font-weight: 700;
}

.atracoesC {
    font-size: calc(var(--font)*2.4);
    font-weight: 700;
}

.atracoesD {
    font-size: calc(var(--font)*2.2);
    font-weight: 500;
}

@media screen and (min-width: 720px) {
    .atracoes__header hr {
        display: block;
        margin: 0;
        height: 1px;
        width: min(21%, 200px);
        border: none;
        background: var(--boreal-verde-herbal);
    }

    .atracoes__header {
        justify-content: space-between;
        margin-bottom: 48px;
    }

    
    .atracoes__data {
        font-size: calc(var(--font)*3.6);
    }
}

@media screen and (min-width: 1020px) {
    .atracoes__header hr {
        width: 30%;
    }
}